In [29]:
# Data Source : http://www.statiz.co.kr/

picher_file_path = '../data/picher_stats_2017.csv'
batter_file_path = '../data/batter_stats_2017.csv'
picher = pd.read_csv(picher_file_path)
batter = pd.read_csv(batter_file_path)
salaries = pd.concat([picher, batter])

# 한화팀과 SK팀 데이터 나누기
HanWha = salaries.loc[salaries['팀명'] == '한화']
SK =  salaries.loc[salaries['팀명'] == 'SK']

# 각 팀의 연봉 평균 계산
HanWha_salary = HanWha['연봉(2017)'].mean()
SK_salary = SK['연봉(2017)'].mean()

# t-test로 두 팀 간의 차이 검정
t_stat, p_val = ttest_ind(HanWha['연봉(2017)'], SK['연봉(2017)'], equal_var=False)

print('한화 평균 연봉:', HanWha_salary)
print('SK 평균 연봉:', SK_salary)
print('t-test 통계량:', t_stat)
print('p-value:', p_val)

한화 평균 연봉: 22253.846153846152
SK 평균 연봉: 17736.842105263157
t-test 통계량: 0.6624041217840793
p-value: 0.5099280465043418